.popup__input-field {
  position: relative;
  margin: 0 auto 30px;
  width: 238px;
  height: 27px;
}

.popup__input-field:last-of-type {
  margin: 0 auto 45px;
}

@media screen and (min-width: 634px) {
  .popup__input-field {
    width: 358px;
  }
}