.photo-grid__item {
  width: 282px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (min-width: 634px) and (max-width: 887px) {
  .photo-grid__item {
    width: 100%;
  }
}