.popup__input-error_active {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  width: 238px;
  height: 27px;
}